<extend name="Base/base"/>

<block name="title">
    <title>首页</title>
</block>

<block name="css-js">
    <style>
        .headimg img {
            display: block;
            width: 75px;
            border-radius: 50%;
            border: 2px solid #B8B4B4;
            margin-left: 40%;
            height: auto;
        }

        .achievement {
            text-align: center;
        }
    </style>
</block>
<block name="main">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 headimg">
                    <img src="/Public/Home/img/headimg.png"
                         class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 achievement"><h1>分数：10</h1></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title">进行中</h3></div>
                        <div class="panel-body">
                            <ul class="media-list">
                                <li class="media"><a class="pull-left" href="/Home/mission/detail"><img class="media-object"
                                                                                     src="/Public/Home/img/miaowandao.jpg"
                                                                                     height="64" width="64"></a>

                                    <div class="media-body"><h4 class="media-heading">庙湾岛（10）</h4>

                                        <p>庙湾岛位于珠海某某地方，那里很远要坐船过去，探索此地。</p></div>
                                </li>
                                <li class="media"><a class="pull-left" href="#"><img class="media-object"
                                                                                     src="/Public/Home/img/hudiegu.jpg"
                                                                                     height="64" width="64"></a>

                                    <div class="media-body"><h4 class="media-heading">蝴蝶谷（10）</h4>

                                        <p>位于清远英德石牯塘镇某某水库，由于封禁，更加带上神秘色彩，探索此地。</p></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title">附近</h3></div>
                        <div class="panel-body">
                            <ul class="media-list">
                                <li class="media"><a class="pull-left" href="#"><img class="media-object"
                                                                                     src="/Public/Home/img/gaokedasha.jpg"
                                                                                     height="64" width="64"></a>

                                    <div class="media-body"><h4 class="media-heading">高科大厦（10）</h4>

                                        <p>华师西门一栋大厦，探索此地（需要答题）。</p></div>
                                </li>
                                <li class="media"><a class="pull-left" href="#"><img class="media-object"
                                                                                     src="/Public/Home/img/huananshifandaxue.jpg"
                                                                                     height="64" width="64"></a>

                                    <div class="media-body"><h4 class="media-heading">华南师范大学石牌校区</h4>

                                        <p>华南师范大学石牌校区，探索此地（需要答题）。</p></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title">最近完成</h3></div>
                        <div class="panel-body">
                            <ul class="media-list">
                                <li class="media"><a class="pull-left" href="#"><img class="media-object"
                                                                                     src="/Public/Home/img/cuihushanzhuang.jpg"
                                                                                     height="64" width="64"></a>

                                    <div class="media-body"><h4 class="media-heading">翠湖山庄（10）</h4>

                                        <p>位于黄埔大道，探索此地（需要答题）。</p></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>


