<extend name="Base/base"/>

<block name="title">
    <title>任务列表</title>
</block>

<block name="css-js">
    <style>
        .nav-botton{
            text-align: center;
        }
        .nav-botton h1{
            margin-bottom: 20px;
        }
        .panel-heading{
            height: 40px;
        }
        . text-center{
            text-align: center;
        }
    </style>

</block>
<block name="main">
    <div class="section">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 achievement"><h1>探索</h1></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title" style="float: left">广州</h3><h3 class="panel-title"  style="float: right">更多</h3></div>
                        <div class="panel-body">
                            <ul class="media-list">
                                <li class="media"><a class="pull-left" href="/Home/mission/detail"><img class="media-object"
                                                                                                        src="/Public/Home/img/miaowandao.jpg"
                                                                                                        height="64" width="64"></a>

                                    <div class="media-body"><h4 class="media-heading">庙湾岛（10）</h4>

                                        <p>庙湾岛位于珠海某某地方，那里很远要坐船过去，探索此地。</p></div>
                                </li>
                                <li class="media"><a class="pull-left" href="#"><img class="media-object"
                                                                                     src="/Public/Home/img/hudiegu.jpg"
                                                                                     height="64" width="64"></a>

                                    <div class="media-body"><h4 class="media-heading">蝴蝶谷（10）</h4>

                                        <p>位于清远英德石牯塘镇某某水库，由于封禁，更加带上神秘色彩，探索此地。</p></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
