<extend name="Base/base"/>

<block name="title">
    <title>任务列表</title>
</block>

<block name="css-js">
    <style>
        .nav-botton{
            text-align: center;
        }
        .nav-botton h1{
            margin-bottom: 20px;
        }
        .nav-botton a{
            text-decoration: none;
        }
    </style>

</block>
<block name="main">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form role="form">
                        <div class="form-group">
                            <input type="search" class="form-control" placeholder="输入搜索关键字">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="jumbotron nav-botton">
                        <a href="/Home/mission/goType/type/1"><h1>探索</h1></a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="jumbotron nav-botton">
                        <a href="/Home/mission/goType/type/2"><h1>挑战</h1></a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="jumbotron nav-botton">
                        <a href="/Home/mission/goType/type/3"><h1>收集</h1></a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="jumbotron nav-botton">
                        <a href="/Home/mission/goType/type/4"><h1>知识</h1></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
